body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

.todoList .header input {
  padding: 10px;
  font-size: 16px;
  border: solid 2px solid #fff;
}

.todoList .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0xp;
  background-color: slategray;
  color: white;
}

.todoList .header button:hover {
  background-color: darkblue;
  cursor: pointer;
}

.todoList .theList li {
  background-color: slategrey;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
